@import url('./assets/fonts/fonts.css');

/*Variables*/

$breakpoint-mobile-xl: 525px;
$breakpoint-mobile-l: 425px;

/* Input placeholder font family and size change*/

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 0.75rem;
}

::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 0.75rem;
}

:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 0.75rem;
}

:-moz-placeholder {
	/* Firefox 18- */
	font-size: 0.75rem;
}

/*Some global/generic elements/values*/

body {
	font-family: 'OpenSansRegular';
}

a {
	color: #212529;
	font-weight: 700;
	transition: color 1s ease-in;
}

a:hover {
	text-decoration: none;
	color: #1ccfc9;
}

.card {
	border: 0;
}

.btn {
	border-radius: 0;
	font-size: 0.75rem;
}

.date {
	padding: 10px 0;
	font-size: 12px;
	color: #818181;
}

.logo {
	font-family: 'MerriweatherBold';
	margin-right: auto;
}

.load-more-wrapper {
	text-align: center;
}

.form-control:focus {
	outline: none;
	border: 0;
	box-shadow: none;
	border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1330px;
	}
}

/*Header*/

.header {
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 0;
	margin-bottom: 20px;
	.container {
		display: flex;
		.logo {
			flex: 1;
			-webkit-align-items: flex-start;
			align-items: flex-start;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;
			text-align: left;
			h1 {
				@media screen and (max-width: $breakpoint-mobile-l) {
					font-size: 2rem;
				}
			}
		}
		.nav {
			flex: 1;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			text-align: center;
		}
		.header-socials {
			flex: 1;
			text-align: right;
			align-items: flex-end;
			justify-content: flex-end;
			@media screen and (max-width: $breakpoint-mobile-xl) {
				display: none;
			}
			svg {
				margin: 5px;
			}
		}
	}
}

/*Search form*/

.form-search {
	width: 60%;
	margin: auto;
	@media screen and (max-width: $breakpoint-mobile-xl) {
		width: 80%;
	}
	input {
		height: 2rem;
		border: 0;
		text-align: center;
		border-bottom: 1px solid #e6e6e6;
	}
}

/*News card*/

.card-group {
	.col-card {
		margin-bottom: 40px;
		.card-img-top {
			width: 100%;
			height: 250px;
			object-fit: cover;
			border-radius: 0;
		}
		.card-body {
			display: flex;
			flex-direction: column;
			font-family: 'OpenSansRegular';
			color: #7e7e7e;
			font-size: 15px;
			padding: 15px 0;
			.card-title {
				font-family: 'PoppinsSemiBold';
				color: #1d1c24;
			}
			.seemore-wrapper {
				margin-top: auto;
			}
		}
	}
}

/*Article*/

.article-wrapper {
	.article-column-wrapper {
		display: flex;
		margin-bottom: 50px;
		align-items: center;
		.article {
			flex: 1 1;
			text-align: left;
			padding: 0 15px;
			h1.article-title {
				font-size: 3rem;
				margin-bottom: 3rem;
			}
			.description {
				font-size: 2rem;
				font-family: 'MerriweatherLight';
				margin-bottom: 40px;
			}
			.article-source-author {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				font-size: 0.8rem;
				color: #676767;
			}
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.article-content {
		font-family: 'MerriweatherLight';
		font-size: 1.25rem;
	}
	.article-source-link {
		background-color: #fff9f4;
		padding: 15px 0;
	}
}

/*Dropdown*/

.dropdown-wrapper {
	margin-bottom: 40px;
	text-align: center;
	.btn-outline {
		border: 1px solid #a6acaf;
		color: #494b4c;
		font-size: 0.75rem;
		padding: 3px;
	}
}

/*Footer*/

.footer {
	background-color: #212529;
	color: #fff;
	margin-top: 40px;
	.main-section {
		padding: 75px 0;
		text-align: center;
	}
	.content-bottom {
		padding-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}
